#root, #root2, #root3 {
>>>>>>> 551dd910f7677dfb3279355a993dcd8243ca9bd5
	-fx-background-color:  #26A69A;
	-fx-border-radius: 20;
	-fx-padding: 10 10 10 10;
	-fx-background-radius: 0;
}

#bp, #bp2, #bp3 {
	-fx-background-color: #FFFFFF;
}

#btnLogin, #BRB, #BRR3 {
    -fx-background-color:	#F06292;
    -fx-text-fill:  #FFFFFF;
    -fx-postion: relative;
    -fx-left: -10px;
}

#BLT, #BR, #BLR, #BRT, #BRR, #BRR2, #BLRES, #resReg, #resLog{
    -fx-background-color:	#00796B;
    -fx-text-fill:  #FFFFFF;
    -fx-font-family: "roboto";
}

#text, #text2, #text3 {
	-fx-fill:  #FFFFFF;
	-fx-font-family: "roboto";
}

#btnLogin:hover {
    -fx-text-fill:  #000000;
}

#loginLabel, #registerLabel, #resLabel{
>>>>>>> 551dd910f7677dfb3279355a993dcd8243ca9bd5
    -fx-text-fill:  #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-fonfamily: "roboto";
}

#info, #info2{
    -fx-text-fill:  #FFFFFF;
    -fx-fonfamily: "roboto";
}




