#uploadPicBtn   {
    -fx-background-color: #F06292;
    -fx-font-size:16pt;
    -fx-text-fill: #FFFFFF;
}

#profilePicPane {
    -fx-effect: dropshadow(gaussian, #383A3B, 10, 0.1, 2, 2);
}
#profileInfoLabel   {
    -fx-background-color: #F06292;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20pt;
    -fx-font-family: "Roboto";
}

#choiceBox {
    -fx-border-width: 1px;
    -fx-border-color: #CDCDCD;
    -fx-background-color: #FFFFFF;
}

.accordion .titled-pane, .accordion .titled-pane .title, .accordion .titled-pane .vbox {
    -fx-border-width: 1px;
    -fx-border-color: #CDCDCD;
    -fx-background-color: #FFFFFF;
    -fx-opacity: 1.0;
}

.accordion .titled-pane:disabled, .accordion .titled-pane .title:disabled, .accordion .titled-pane .vbox:disabled, .accordion:disabled,
.choice-box:disabled, .choice-box:disabled > * {
    -fx-opacity: 0.7;
}

.date-picker:disabled, .date-picker:disabled > * {
    -fx-opacity: 0.7;
}

.text-field:disabled    {
    -fx-opacity: 0.7;
}


#profileInfoPane  {
    -fx-background-color: #EEEEEE;
    -fx-effect: dropshadow(gaussian, #383A3B, 10, 0.1, 2, 2);
}

#profileInfoCoursesLabelPane,#profileInfoCoursesLabelPane > *   {
    -fx-background-color: #F06292;
    -fx-font-family: "Roboto";
    -fx-font-size: 20pt;
    -fx-text-fill: #FFFFFF;
}

#profileAvailabilityTitlePane > *  {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 22pt;
}

#profileAvailabilityGridPane    {
    -fx-background-color: #EEEEEE;
}

#profileAvailabilityPane    {
    -fx-background-color: #F06292;
}

#profileBotContainerPane    {
    -fx-background-color: #EEEEEE  ;
    -fx-effect: dropshadow(gaussian, #383A3B, 10, 0.1, 2, 2);
}

#editToggleBtn  {
    -fx-background-image: url("/gui/views/resources/editToggleButton.jpg");
    -fx-effect: dropshadow(gaussian, #383A3B, 10, 0.1, 1, 1);
}

#editToggleBtnActive  {
    -fx-background-image: url("/gui/views/resources/editToggleButtonActive.jpg");
    -fx-effect: dropshadow(gaussian, #383A3B, 10, 0.1, 1, 1);
}

#repeatPwLabel {
    -fx-background-color: #F06292;
    -fx-font-family: "Roboto";
    -fx-font-size: 16pt;
    -fx-text-fill: #FFFFFF;
}

#repeatPwField  {
    -fx-background-color: #EEEEEE;
    -fx-effect: dropshadow(gaussian, #383A3B, 10, 0.1, 1, 1);
}