#uploadPicBtn   {
    -fx-background-color: #F06292;
    -fx-text-fill: #FFFFFF;
}

#profilePicPane {
    -fx-effect: dropshadow(gaussian, #383A3B, 10, 0.1, 2, 2);
}
#profileInfoLabel   {
    -fx-background-color: #F06292;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20pt;
    -fx-font-family: "Roboto";
}

#profileInfoPane  {
    -fx-background-color: #EEEEEE;
    -fx-effect: dropshadow(gaussian, #383A3B, 10, 0.1, 2, 2);
}

#profileInfoCoursesLabelPane    {
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-font-size: 20pt;
}

#profileAvailabilityTitlePane   {
    -fx-font-weight: bold;
    -fx-font-size: 26pt;
}

#profileAvailabilityPane    {
    -fx-background-color: #F06292;
}

#profileBotContainerPane    {
    -fx-background-color: #EEEEEE  ;
    -fx-effect: dropshadow(gaussian, #383A3B, 10, 0.1, 2, 2);
}

#editToggleBtn  {
    -fx-background-image: url("/gui/views/resources/editToggleButton.jpg");
    -fx-effect: dropshadow(gaussian, #383A3B, 10, 0.1, 1, 1);
}

#editToggleBtnActive  {
    -fx-background-image: url("/gui/views/resources/editToggleButtonActive.jpg");
    -fx-effect: dropshadow(gaussian, #383A3B, 10, 0.1, 1, 1);
}