#sidebar    {
    -fx-background-color: #DEDEDE;
}

.sidebarBtn {
    -fx-display: inline-block;
    -fx-font-family: "Roboto";
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-background-color: #DEDEDE;
}

.sidebarBtn:hover{
    -fx-background-color: #BDBDBD;
}